
//
// Variables (Desktop)
// --------------------------------------------------


//
// fonts

$primaryFont: 'poppinsregular', Gill Sans, Times, TimesNewRoman, "Times New Roman", Baskerville, Georgia, serif;
$primaryFontMedium: 'poppinsmedium', Gill Sans, Times, TimesNewRoman, "Times New Roman", Baskerville, Georgia, serif;
$primaryFontBold: 'poppinsbold', Gill Sans, Times, TimesNewRoman, "Times New Roman", Baskerville, Georgia, serif;
$primaryFontSemibold: 'poppinssemibold', Gill Sans, Times, TimesNewRoman, "Times New Roman", Baskerville, Georgia, serif;

$secondaryFont: 'Open Sans', sans-serif, Times, TimesNewRoman, "Times New Roman", Baskerville, Georgia, serif;



//
// colors

$headerBg: #26282c;
$black: #2a2a2a;
$white: #fff;
$blue: #00aaaa;
$purple: #6364d8;
$orange: #ff5a00;
$black2: #555;
$grey: #666666;
$boxBoderColor: #dddddd;
$boxHeadColor: #222121;
$titleColor: #404040;
$red: #d71a1a;

//
// z-index
$overlayZ: 2000;
$popupZ: 3000;
$closeZ: 1100;
$profZ: 1200;
$prodZ: 1100;
$nameZ: 1201;
