
//
// @extend
// ------------------------------------

%center {
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
}

%absolute-center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

%absolute-middle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

%absolute-all-center {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

%popup{
    @extend %absolute-center;
    top: 80px;
    max-width: 1260px;
    width: 100%;
    background: $white;
    display: none;
    z-index: $popupZ;
}

%noselection{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
    user-select: none;
}



