
//
// Fonts
// --------------------------------------------------


@font-face {
    font-family: 'marc_jacobsregular';
    src: url('../fonts/marc_jacobs_47hf-webfont.eot');
    src: url('../fonts/marc_jacobs_47hf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/marc_jacobs_47hf-webfont.woff') format('woff'),
         url('../fonts/marc_jacobs_47hf-webfont.ttf') format('truetype'),
         url('../fonts/marc_jacobs_47hf-webfont.svg#marc_jacobsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

