
//
// Scaffolding
// --------------------------------------------------

html {
  font-size: 12px;
  @media (max-width: 1480x){font-size: 11.746px;}
  @media (max-width: 1434px){font-size: 11.5px;}
  @media (max-width: 1417px){font-size: 11.246px;}
  @media (max-width: 1370px){font-size: 11px;}
  @media (max-width: 1355px){font-size: 10.754px;}
  @media (max-width: 1308px){font-size: 10.5px;}
  @media (max-width: 1292px){font-size: 10.254px;}
  @media (max-width: 1260px){font-size: 10px;}
  @media (max-width: 1228px){font-size: 9.74603px;}
  @media (max-width: 1182px){font-size: 9.5px;}
  @media (max-width: 1165px){font-size: 9.24603px;}
  @media (max-width: 1134px){font-size: 9px;}
  @media (max-width: 1103px){font-size: 8.75397px;}
  @media (max-width: 1056px){font-size: 8.5px;}
  @media (max-width: 1040px){font-size: 8.25397px;}
  @media (max-width: 1008px){font-size: 8px;}
  @media (max-width: 976px) {font-size: 7.74603px;}
  @media (max-width: 930px) {font-size: 7.5px;}
  @media (max-width: 914px) {font-size: 7.25397px;}
  @media (max-width: 882px) {font-size: 7px;}
  @media (max-width: 851px) {font-size: 6.75397px;}
  @media (max-width: 804px) {font-size: 6.5px;}
  @media (max-width: 788px) {font-size: 6.25397px;}
  @media (max-width: 756px) {font-size: 6px;}
  @media (max-width: 725px) {font-size: 5.75397px;}
  @media (max-width: 678px) {font-size: 5.5px;}
  @media (max-width: 662px) {font-size: 5.25397px;}
  @media (max-width: 640px) {font-size: 5px;}
  @media (max-width: 599px) {font-size: 4.75397px;}
  @media (max-width: 552px) {font-size: 4.5px;}
  @media (max-width: 536px) {font-size: 4.25397px;}
  @media (max-width: 480px) {font-size: 4px;}
  @media (max-width: 473px) {font-size: 3.75397px;}
  @media (max-width: 441px) {font-size: 3.5px;}
  @media (max-width: 410px) {font-size: 3.25397px;}
  @media (max-width: 385px) {font-size: 3px;}
  @media (max-width: 355px) {font-size: 2.75px;}
  @media (max-width: 325px) {font-size: 2.5px;}
}

html.iframe {
    height: 100%;
}

body {
  &.noscroll {
    -webkit-user-select: none;
  }
}

a, div, img, button{
    //-moz-user-select: none;
    //-webkit-user-select: none;
}

a{
    cursor: pointer;
    text-decoration: none;
}

input, textarea{
    outline: none;
}

strong, b {
    font-family: $primaryFont-bold;
}

hr{
    padding: 0;
    margin: 0;
    border: 0;
}

.clear {
    clear:both;
}

.hidden {
    display: none;
}

.hide{
    display: none !important;
}

button{
    border: 0;
    cursor: pointer;
}

.smooth{
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    // height: 100%;
    font-family: $primaryFont;
    -webkit-text-size-adjust: none;
    position: relative;
    // min-height:100vh;
    color: $black;

}

#overlay{
    @extend %absolute-center;

    position: fixed;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    z-index: $overlayZ;
    opacity: 0.5;
    display: none;
    background-color: $white;
    @include opacity(0.9);
}

#wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden;
}
.container{
    width: 100%;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.button{
    font-size: 1.1rem;
    padding: 1.1rem 0;
    width: 12.5rem;
    text-align: center;
    color: $white;
    background-color: $black;
    font-family: $secondaryFont;
    font-weight: 700;
    text-transform: uppercase;
    display: block;

    &.white{
        color: $black;
        background-color: $white;
    }
}
.show-desktop{
    overflow: hidden;
}

.show-mobile{
    display: none !important;
}

@include breakpoint(mobile){
    .show-mobile{
        display: block !important;
        overflow: hidden;
    }
    .show-desktop{
        display: none !important;
    }
}



