
//
// Variables
// --------------------------------------------------


//
// fonts

$primaryFont: 'UniversLTW01-57Condense 723821', sans-serif, Arial, Helvetica;
$primaryFont-bold: 'UniversLTW01-67BoldCn', sans-serif, Arial, Helvetica;
$primaryFont-italic: 'JansonTextLTStd-Italic', sans-serif, Arial, Helvetica;
$primaryFont-BoldItalic: 'JansonTextLTStd-BoldItalic', sans-serif, Arial, Helvetica;

$secondaryFont: 'marc_jacobsregular', Times, 'JansonTextLTStd-Roman', TimesNewRoman, "Times New Roman", Baskerville, Georgia, serif;
$tertiaryFont: 'jenna_sueregular', Times, TimesNewRoman, "Times New Roman", Baskerville, Georgia, serif;

$UniversCondensedBold: 'UniversLTW01-67BoldCn';
$UniversCondensedMedium: 'LinotypeUniversW01-Medi 723673';
$UniversCondensed: 'UniversLTW01-57Condense 723821';
$UniversLTStdLightCn: 'UniversLTW01-47LightCn';
$ATSackersHeavyGothic: 'marc_jacobsregular';


//
// colors

$black: #000000;
$white: #fff;
$green: #d5e4c0;
$red: #cc3300;
$grey: #ccc;
$darkgrey: #333333;

//
// z-index
$overlayZ: 2000;
$popupZ: 3000;
$closeZ: 1100;
$profZ: 1200;
$prodZ: 1100;
$nameZ: 1201;
